In [168]:
import numpy as np
import pandas as pd
import xgboost as xgb

In [169]:
df = pd.read_csv("data_semantics_training.csv")

In [170]:
df.drop(["serial_no"],axis=1,inplace=True)

In [171]:
categorical = df.select_dtypes(include=['object'])
cat_values=categorical.columns.values
for i in range(len(cat_values)):
    print('For the column "',cat_values[i],'" the unique values are')
    print(df[cat_values[i]].unique())

For the column " C7 " the unique values are
['Healthy' 'Defaulted' 'None' 'Unhealthy']
For the column " C8 " the unique values are
['Live' 'Closed' nan]

In [172]:
df=df.fillna(method='ffill')

In [173]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 8 columns):
C1    699 non-null int64
C2    699 non-null int64
C3    699 non-null int64
C4    699 non-null int64
C5    699 non-null float64
C6    699 non-null float64
C7    699 non-null object
C8    699 non-null object
dtypes: float64(2), int64(4), object(2)
memory usage: 43.8+ KB

In [174]:
y=df['C7']
y=pd.DataFrame(y)
X=df.drop(['C7'],axis=1)

In [175]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 7 columns):
C1    699 non-null int64
C2    699 non-null int64
C3    699 non-null int64
C4    699 non-null int64
C5    699 non-null float64
C6    699 non-null float64
C8    699 non-null object
dtypes: float64(2), int64(4), object(1)
memory usage: 38.3+ KB

In [176]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 1 columns):
C7    699 non-null object
dtypes: object(1)
memory usage: 5.5+ KB

In [177]:
X=pd.get_dummies(X,columns = ['C8'])
y['C7'] = y['C7'].map({'Healthy':0, 'Unhealthy':1,'None':2,'Unhealthy':3})

In [178]:
X.head()

   C1  C2     C3   C4     C5    C6  C8_Closed  C8_Live
0   1   1  15200   80   6.50  24.0          0        1
1   2   2  26100   90   6.75  30.0          1        0
2   3   3  22400   80   7.50  36.0          1        0
3   4   4  21600   90   7.50  42.0          1        0
4   5   5  44000  100  10.00  60.0          0        1

In [182]:
y=y.fillna(method='ffill')

In [183]:
y.describe()

               C7
count  699.000000
mean     0.273247
std      0.761549
min      0.000000
25%      0.000000
50%      0.000000
75%      0.000000
max      3.000000

In [184]:
from sklearn.model_selection import train_test_split

In [185]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y,random_state=123)

In [186]:
alg = xgb.XGBClassifier(learning_rate=0.1, n_estimators=140, max_depth=5,
                        min_child_weight=3, gamma=0.2, subsample=0.6, colsample_bytree=1.0,
                        objective='binary:logistic', nthread=4, scale_pos_weight=1, seed=27)

In [187]:
model = alg.fit(X,y)

/home/khandalaryan/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/khandalaryan/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [188]:
pred1 = model.predict(X_test)

In [189]:
from sklearn.metrics import accuracy_score
print("Accuracy for model 1: %.2f" % (accuracy_score(y_test, pred1) * 100))

Accuracy for model 1: 98.57

In [201]:
model3 = xgb.XGBClassifier(
 learning_rate =0.1,
 n_estimators=1000,
 max_depth=5,
 min_child_weight=1,
 gamma=0,
 subsample=0.8,
 colsample_bytree=0.8,
 objective= 'multi:softmax',
 nthread=4,
 scale_pos_weight=1,
 seed=27)

In [203]:
train_model3 = model3.fit(X_train, y_train)
pred3 = train_model3.predict(X_test)
print("Accuracy for model 3: %.2f" % (accuracy_score(y_test, pred3) * 100))

Accuracy for model 3: 97.14

In [206]:
from sklearn.model_selection import GridSearchCV

param_test = {
 'max_depth':[4,5,6],
 'min_child_weight':[4,5,6]
}
gsearch = GridSearchCV(estimator = xgb.XGBClassifier( learning_rate=0.1, n_estimators=140, max_depth=5,
 min_child_weight=2, gamma=0, subsample=0.8, colsample_bytree=0.8,
 objective= 'multi:softmax', nthread=4, scale_pos_weight=1,seed=27), 
 param_grid = param_test, scoring='roc_auc',n_jobs=4,iid=False, cv=5)

train_model4 = gsearch.fit(X_train, y_train)
pred4 = train_model4.predict(X_test)
print("Accuracy for model 4: %.2f" % (accuracy_score(y_test, pred4) * 100))

ValueError: multiclass format is not supported

Predicting output

In [190]:
df2 = pd.read_csv("data_sematics_test.csv")

In [191]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 8 columns):
serial_no    301 non-null int64
C1           301 non-null int64
C2           301 non-null int64
C3           301 non-null int64
C4           301 non-null int64
C5           294 non-null float64
C6           294 non-null float64
C8           248 non-null object
dtypes: float64(2), int64(5), object(1)
memory usage: 18.9+ KB

In [192]:
df2.drop(['serial_no'],axis=1,inplace=True)

In [193]:
df2.fillna(method = 'ffill')

       C1    C2     C3   C4     C5    C6      C8
0     700   700  16800   80   6.50  24.0  Closed
1     701   701      0    0   6.50  24.0  Closed
2     702   702  15200   80   6.50  18.0  Closed
3     703   703  14500   50   4.75  18.0  Closed
4     704   704  16800   80   7.75  24.0  Closed
5     705   705  57600   90  11.75  30.0    Live
6     706   706  22400   80   7.25  18.0    Live
7     707   707  15200   80   6.50  18.0  Closed
8     708   708  16800   80   6.75  18.0  Closed
9     709   709  25200   90   7.50  18.0  Closed
10    710   710  13200   60   5.25  18.0  Closed
11    711   711  21600   90   7.25  18.0  Closed
12    712   712  15400   70   5.50  18.0  Closed
13    713   713  25200   90   8.50  24.0  Closed
14    714   714  19800   90   7.00  18.0  Closed
15    715   715  18900   90   7.00  18.0  Closed
16    716   716  15200   80   7.50  24.0    Live
17    717   717  38400   80   8.00  24.0  Closed
18    718   718  34200   90   9.75  48.0    Live
19    719   719  27900   90   9.50  48.0    Live
20    720   720  15200   80   6.75  24.0  Closed
21    721   721  18900   90   6.00  18.0  Closed
22    722   722  16800   80   6.75  30.0  Closed
23    723   723  19800   90   7.00  30.0  Closed
24    724   724  17100   90   6.75  30.0  Closed
25    725   725  19800   90   8.00  36.0    Live
26    726   726  31000  100   9.50  54.0    Live
27    727   727  57000  100  11.75  60.0    Live
28    728   728  34200   90   9.75  48.0    Live
29    729   729      0    0   9.75  48.0    Live
..    ...   ...    ...  ...    ...   ...     ...
271   971   971  11600   40   4.50  18.0  Closed
272   972   972  16800   70   4.75  18.0  Closed
273   973   973  18900   90   8.00  24.0  Closed
274   974   974  13300   70   5.25  18.0  Closed
275   975   975  15400   70   4.50  12.0  Closed
276   976   976      0    0   4.50  12.0  Closed
277   977   977   8400   40   4.25  12.0  Closed
278   978   978   8400   40   4.25  12.0  Closed
279   979   979  16800   60   4.75  18.0  Closed
280   980   980  14700   70   4.75  18.0  Closed
281   981   981  21700   70   5.00  18.0  Closed
282   982   982  24800   80   6.25  18.0  Closed
283   983   983  12600   60   4.75  18.0  Closed
284   984   984  15500   50   4.75  18.0  Closed
285   985   985  15500   50   4.50  18.0  Closed
286   986   986  24500   70   4.75  18.0    Live
287   987   987   9600   40   4.25  12.0  Closed
288   988   988  20300   70   4.75  18.0  Closed
289   989   989  14500   50   4.25  12.0  Closed
290   990   990  11000   50   4.25  12.0  Closed
291   991   991  14000   50   4.25  12.0  Closed
292   992   992  14000   50   4.50  18.0  Closed
293   993   993  13200   60   4.50  18.0  Closed
294   994   994  17100   90   8.75  36.0  Closed
295   995   995  19800   90  10.00  48.0    Live
296   996   996  17100   90   8.75  36.0    Live
297   997   997  17100   90   8.75  36.0    Live
298   998   998  12600   60   4.75  18.0  Closed
299   999   999  21700   70   5.00  18.0  Closed
300  1000  1000  13200   60   5.25  18.0    Live

[301 rows x 7 columns]

In [194]:
df2=pd.get_dummies(df2,columns = ['C8'])

In [195]:
preds = model.predict(df2)

In [196]:
_ = pd.read_csv("data_sematics_test.csv")
serial = _['serial_no']
data = { 'serial_no': serial, 'C7': preds}
submission = pd.DataFrame(data)
submission.head()

   serial_no   C7
0          1  0.0
1          2  2.0
2          3  0.0
3          4  0.0
4          5  0.0

In [198]:
submission['C7'] = submission['C7'].map({0:'Healthy', 1:'Unhealthy',2:'None',3:'Unhealthy'})

In [199]:
submission.to_csv("2xgb.csv",index=False)